<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>RUNNING DOCKER CONTAINERS ON GCE</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
   <div class="container">
   <div class="jumbotron text-center">
     <h2>RUNNING DOCKER CONTAINERS ON GCE</h4>
   <p>TIn this article, the reader will be walked through creating a Flask application, creating a docker based container out of the article and deploying the Docker container to Google Compute Engine. By the end of the article, the reder should have an understanding of the procedure and the skills to execute them effecinstly.</p>
   </div>
   </div>  
   </div> 
</body>
</html>
